<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/estilos.css"> 
    <link rel="stylesheet" href="xterm/dist/xterm.css" />
    <script src="xterm/dist/xterm.js"></script>
    <script src="xterm/dist/addons/fit/fit.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>Página Principal</title>
</head>
<body>
    <h1>ROUTER 1</h1>
    <div id="terminal-container"></div>
    <script  src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/terminal.js"></script>
</body>
</html>